In [74]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

In [75]:
train = pd.read_csv('Train_Data.csv')

In [76]:
train.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71

In [77]:
train = train.drop(columns = ['date', 'campaign'])
train.ad = train.ad.str.replace("ad ", "")
train.adgroup = train.adgroup.str.replace("adgroup ", "")
train.ad = train.ad.astype('int')
train.adgroup = train.adgroup.astype('int')

In [78]:
y = train.revenue
train = train.drop(columns='revenue')

In [42]:
train.head()

   adgroup  ad  impressions  clicks  cost  conversions
0        1   1           24       6  0.08            0
1        2   1            1       0  0.00            0
2        3   1           13       4  0.04            0
3        4   1            5       4  0.08            0
4        1   2          247     126  1.29            4

In [79]:
from sklearn.linear_model import LinearRegression

In [44]:
reg = LinearRegression().fit(train,y)

In [58]:
reg.score(test_X,test_y)

0.9431113855333698

In [46]:
reg.score(train_X,train_y)

0.9380865720574157

In [50]:
pred_train= reg.predict(train)
print(np.sqrt(mean_squared_error(y,pred_train)))

268.2718751587716

In [80]:
test = pd.read_csv('Test_Data.csv')
test = test.drop(columns = ['date', 'campaign'])
test.ad = test.ad.str.replace("ad ", "")
test.adgroup = test.adgroup.str.replace("adgroup ", "")
test.ad = test.ad.astype('int')
test.adgroup = test.adgroup.astype('int')

In [54]:
revenue = reg.predict(test)

In [55]:
res = pd.DataFrame(revenue) #preditcions are nothing but the final predictions of your model on input features of your new unseen test data
res.index = test.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["revenue"]
res.to_csv("revenue.csv", index = False)      # the csv file will be saved locally on the same location where this notebook is located.

In [81]:
from sklearn import linear_model
lassoreg = linear_model.Lasso(alpha=50,max_iter=100,tol=0.1)
lassoreg.fit(train,y)

Lasso(alpha=50, max_iter=100, tol=0.1)

In [82]:
lassoreg.score(test_X,test_y)

0.9285247185900172

In [90]:
revenue = lassoreg.predict(test)

In [91]:
revenue[revenue<0] = 0

array([ 113.80337613,    0.        ,    0.        ,    0.        ,
          0.        ,    0.        ,   91.26078112,    0.        ,
         90.20688107,    0.        ,  512.46464552,    0.        ,
          0.        ,  226.8078379 ,    0.        ,  137.60955165,
          0.        ,  114.74086656,    0.        ,   82.34213081,
          0.        ,    0.        ,    0.        ,  442.04433878,
          0.        ,    0.        ,  655.78640058,   63.23427438,
          0.        ,    0.        ,  441.50565119,    0.        ,
        912.94456516,  297.76834438,   99.48529079,    0.        ,
        109.45576835,    0.        ,    0.        ,    0.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,  233.940969  ,  164.96466077,   98.76720168,
          0.        ,    0.        ,    0.        ,  959.83635856,
          0.        ,  289.35056678,    0.        ,  303.7564895 ,
          0.        ,    0.        ,  425.94709441,  145.63418414,
          0.        ,    0.        ,  271.17269452,    0.        ,
          0.        ,    0.        ,   95.89739621,   96.35630845,
        629.25654753,    0.        ,    0.        ,    0.        ,
        475.84712526,  102.46052681,    0.        ,   66.53770295,
          0.        ,    0.        ,  638.48627541, 1229.18444484,
          0.        ,  274.04482671,  281.46881367,  265.52161856,
          0.        ,  622.67363885,   84.85243081,    0.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
        100.25609517,    0.        ,    0.        ,   41.7922709 ,
          0.        , 2431.49269876,    0.        ,  283.95460456,
          0.        ,  140.90902922,    0.        ,  604.17891917,
          0.        ,  266.72926492,    0.        , 2163.26378925,
          0.        , 2508.7682725 ,  466.83447198,   97.86357514,
          0.        ,    0.        ,  491.09645299,    0.        ,
          0.        ,    0.        ,  383.15378913,    0.        ,
         93.97236317,   44.37601577,    0.        ,    0.        ,
          0.        ,    0.        ,  742.43128028,    0.        ,
          0.        ,    0.        ,  458.24446273,    0.        ,
        121.66420507,    0.        ,    0.        ,    0.        ,
         98.17106778,    0.        ,    0.        ,  295.37397582,
        465.28790793,    0.        ,    0.        ,    0.        ,
        642.82083133,    0.        ,  269.46820889,    0.        ,
        818.57030833,    0.        ,    0.        ,    0.        ,
         51.28282963,    0.        ,    0.        ,    0.        ,
        274.07488141,    0.        ,  250.928422  ,    0.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,  114.4951076 ,    0.        ,    0.        ,
          0.        ,    0.        ,  273.5331992 ,  103.87034739,
          0.        ,    0.        ,    0.        ,  159.37175176,
          0.        ,    0.        ,   60.23119825,    0.        ,
         86.64870482,    0.        ,    0.        ,  118.66445995,
          0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,    0.        ,    0.        ,   95.65348579,
         97.89166918,    0.        ,  241.98618928,    0.        ,
          0.        ,    0.        ,  163.38224248,    0.        ,
          0.        ,  380.86784574,    0.        ,    0.        ,
          0.        ,   84.55835608,  280.13008156,    0.        ,
          0.        ,    0.        ,    0.        ,  263.76315944,
          0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,  800.33036601,    0.        ,    0.        ,
        173.01309992,    0.        ,  244.05684238,    0.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,  132.24375626,    0.        ,    0.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,   91.03930701,    0.        ,    0.        ,
          0.        ,    0.        ,  443.85898599,  375.94349374,
          0.        ,  389.60580177,    0.        ,   90.3568182 ,
          0.        ,    0.        ,  114.34864328,   99.58458543,
          0.        ,  308.02180549,    0.        ,    0.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,    0.        ,  283.06428381,    0.        ,
          0.        ,  610.43514744,    0.        ,    0.        ,
          0.        ,  234.51418839,  118.81484558,    0.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
        260.42216991,    0.        ,   93.44672743,    0.        ,
          0.        ,    0.        ,    0.        ,  113.75805498,
          0.        ,    0.        ,  104.72380963,    0.        ,
          0.        ,   81.91512181,    0.        ,    0.        ,
          0.        ,    0.        ,  684.25518277,    0.        ,
          0.        ,    0.        ,  947.7651732 ,    0.        ,
          0.        ,  271.33730778,  128.07244325,  121.48040405,
          0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,  109.36930131])

In [93]:
res = pd.DataFrame(revenue) #preditcions are nothing but the final predictions of your model on input features of your new unseen test data
res.index = test.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["revenue"]
res.to_csv("revenue.csv", index = False)

In [65]:
from sklearn.linear_model import Ridge
ridgereg = linear_model.Ridge(alpha=50,max_iter=100,tol=0.1)
ridgereg.fit(train,y)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [66]:
ridgereg.score(train,y)

0.9396037386419457

In [67]:
revenue = ridgereg.predict(test)

In [68]:
res = pd.DataFrame(revenue) #preditcions are nothing but the final predictions of your model on input features of your new unseen test data
res.index = test.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["revenue"]
res.to_csv("revenue.csv", index = False)

In [69]:
train['CTR'] = train.clicks/train.impressions

In [71]:
train['CPC'] = train.cost/train.clicks

In [72]:
train['CPA'] = train.cost/train.conversions

,adgroup,ad,impressions,clicks,cost,conversions,CTR,CPC,CPA
0,1,1,24,6,0.08,0,0.250000,0.013333,inf
1,2,1,1,0,0.00,0,0.000000,NaN,NaN
2,3,1,13,4,0.04,0,0.307692,0.010000,inf
3,4,1,5,4,0.08,0,0.800000,0.020000,inf
4,1,2,247,126,1.29,4,0.510121,0.010238,0.3225